<div class="bg-dark text-white py-4">
    <div class="container">
        <nav class="row ">
            <div class="col-6 ">
                <h4 class="display-6">Derechos de autor</h4>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet error esse aspernatur alias porro, debitis cupiditate quis tempore fugiat pariatur itaque repellat eligendi consectetur sunt quia reiciendis sed quo?</p>
            </div>
            <ul class="col-6 list-unstyled ">
                <li class="font-weigth-bold text-uppercase text-center">Enlaces rápidos</li>
                <li class="d-flex justify-content-around">
                    <a href="" class="text-reset"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="" class="text-reset"><i class="fa-brands fa-twitter"></i></a>
                    <a href="" class="text-reset"><i class="fa-brands fa-instagram"></i></a>
                </li>

            </ul>

        </nav>
    </div>
    
</div>
