<app-menu></app-menu>


    <div class="container align-self-center p-6 mt-5 mb-5">
        <h2 class="font-weight-bold text-uppercase pt-3" >Regístrate Gratis</h2>
        <p>Ingresa la informacion para registrarte</p>
        <div class="form-row mb-3">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Campo nombre">
            </div>
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Apellido <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Campo apellido">
            </div>
        </div>

        <div class="form-group mb-3">
            <label class="font-weight-bold">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" placeholder="Campo email">
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold">Contraseña <span class="text-danger">*</span></label>
            <input type="password" class="form-control" placeholder="Campo contraseña">
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold">Confirmar contraseña <span class="text-danger">*</span></label>
            <input type="password" class="form-control" placeholder="Campo confirmar contraseña">
        </div>
        <div class="form-group mb-5">
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso de privacidad y los términos y condicciones</label>
            </div>
            
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>

    </div>

<app-footer></app-footer>
